filesystems:
  /dev/sdb1:
    mountpoint: /opt

    # These settings are the defaults
    fstype: ext4
    options: noatime,nobarrier
    persist: true
    dump: 0
    pass_num: 2

# Supported fstypes: btrfs, xfs, ext2, ext3, ext4
